.alert-notifier-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px;
	z-index: 9999;

	.alert-enter {
		opacity: 0.01;
		transition: opacity .25s ease-in;
	}

	.alert-enter.alert-enter-active {
		opacity: 1;
	}

	.alert-leave {
		opacity: 1;
		transition: opacity .25s ease-in;
	}

	.alert-leave.alert-leave-active {
		opacity: 0.01;
	}
}
