function MyComponent() {
	const [showing, setShowing] = React.useState({
		info: false,
		success: false,
		warning: false,
		danger: false
	});

	const onAlertToggle = React.useCallback(
		type => setShowing(s => ({ ...s, [type]: !s[type] })),
		[]
	);

	return (
		<div>
			<AlertContainer position="top-left">
				{showing.info ? (
					<Alert type="info" headline="Oh Some Info">
						Something happened of only moderate importance.
					</Alert>
				) : null}

				{showing.success ? (
					<Alert type="success" headline="Oh My Something Nice">
						Something amazing has happened!
					</Alert>
				) : null}

				{showing.warning ? (
					<Alert type="warning" headline="Oh Uhh Hmm">
						Something bad may be about to happen.
					</Alert>
				) : null}

				{showing.danger ? (
					<Alert type="danger" headline="Oh Shit">
						Something bad has happened. Panic!
					</Alert>
				) : null}
			</AlertContainer>

			<div className="btn-group">
				<button className="btn btn-info" onClick={() => onAlertToggle("info")}>
					Toggle Info Alert
				</button>

				<button
					className="btn btn-success"
					onClick={() => onAlertToggle("success")}
				>
					Toggle Success Alert
				</button>

				<button
					className="btn btn-warning"
					onClick={() => onAlertToggle("warning")}
				>
					Toggle Warning Alert
				</button>

				<button
					className="btn btn-danger"
					onClick={() => onAlertToggle("danger")}
				>
					Toggle Danger Alert
				</button>
			</div>
		</div>
	);
}
