const ThemedAlert = props => {
	const classes = useStyleOverrides();
	return <Alert {...props} classes={classes} />;
};

const useStyleOverrides = createUseStyles({
	success: {
		color: "#efd8f0",
		background: "#8f2ba1",
		borderColor: "#80237f",
		borderWidth: 15,
		borderRadius: 60
	}
});

render(
	<ThemedAlert type="success" headline="What have I done">
		This terrible power should have never been unleashed
	</ThemedAlert>
);
